In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('option0.75.csv')
df.head()

,district,doc,pre_date,cur_date,days,pre_read,cur_read,consumption,bill,obstcle,meter,Y,X,ID,flats,land_use,capacity,diameter
0,ناحيه 1 گرگان,11000562,950131,950313,44,240,287,47,223612,NaN,1392/10/01,4077062.685,273238.211214,26248700,4,مسكوني,0,0.75
1,ناحيه 1 گرگان,11000562,941112,950131,78,172,240,68,330283,NaN,1392/10/01,4077062.685,273238.211214,26248700,4,مسكوني,0,0.75
2,ناحيه 1 گرگان,11000562,950602,950719,48,379,464,85,357967,NaN,1392/10/01,4077062.685,273238.211214,26248700,4,مسكوني,0,0.75
3,ناحيه 1 گرگان,11000562,950719,950915,56,464,555,91,509158,NaN,1392/10/01,4077062.685,273238.211214,26248700,4,مسكوني,0,0.75
4,ناحيه 1 گرگان,11000562,950313,950426,44,287,330,43,212301,NaN,1392/10/01,4077062.685,273238.211214,26248700,4,مسكوني,0,0.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229153 entries, 0 to 229152
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   district     229153 non-null  object
 1   doc          229153 non-null  int64
 2   pre_date     229153 non-null  int64
 3   cur_date     229153 non-null  int64
 4   days         229153 non-null  int64
 5   pre_read     229153 non-null  int64
 6   cur_read     229153 non-null  int64
 7   consumption  229153 non-null  int64
 8   bill         229153 non-null  int64
 9   obstcle      15706 non-null   object
 10  meter        95475 non-null   object
 11  Y            219292 non-null  float64
 12  X            219292 non-null  float64
 13  ID           229153 non-null  int64
 14  flats        229153 non-null  int64
 15  land_use     229153 non-null  object
 16  capacity     229153 non-null  int64
 17  diameter     229153 non-null  float64
dtypes: float64(3), int64(11), object(4)
memory usage: 31.5+ MB

In [4]:
na_features = [features for features in df.columns if df[features].isnull().sum()>1]
for feature in na_features:
    print(feature,'\t\t', np.round(df[feature].isnull().mean(),3), '%')

obstcle 		 0.931 %
meter 		 0.583 %
Y 		 0.043 %
X 		 0.043 %

In [5]:
meter_nan_df = df[df['meter'].isna()]
meter_nan_df

,district,doc,pre_date,cur_date,days,pre_read,cur_read,consumption,bill,obstcle,meter,Y,X,ID,flats,land_use,capacity,diameter
7,ناحيه 1 گرگان,11100009,950426,950525,30,147,147,0,19900,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
8,ناحيه 1 گرگان,11100009,950125,950226,32,147,147,0,21227,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
9,ناحيه 1 گرگان,11100009,941125,941229,34,147,147,0,20753,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
10,ناحيه 1 گرگان,11100009,941229,950125,25,147,147,0,16583,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
11,ناحيه 1 گرگان,11100009,950326,950426,31,147,147,0,20563,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229148,ناحيه 2 گرگان,61697628,991004,991114,40,428,524,96,0,NaN,NaN,NaN,NaN,46171351,16,مسكوني,0,0.75
229149,ناحيه 2 گرگان,61697793,991004,991114,40,120,183,63,-1,NaN,NaN,NaN,NaN,46171368,16,مسكوني,0,0.75
229150,ناحيه 4 گرگان,61697885,991003,991115,42,268,335,67,448950,NaN,NaN,NaN,NaN,62011302,5,مسكوني,0,0.75
229151,ناحيه 7 گرگان,61697997,991014,991125,41,217,327,110,1158692,NaN,NaN,NaN,NaN,26283900,8,مسكوني,0,0.75
229152,ناحيه 2 گرگان,61698339,991004,991114,40,0,0,0,424533,NaN,NaN,NaN,NaN,46171369,16,مسكوني,0,0.75

In [6]:
x_nan_df = df[df['X'].isna()]
x_nan_df

,district,doc,pre_date,cur_date,days,pre_read,cur_read,consumption,bill,obstcle,meter,Y,X,ID,flats,land_use,capacity,diameter
7,ناحيه 1 گرگان,11100009,950426,950525,30,147,147,0,19900,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
8,ناحيه 1 گرگان,11100009,950125,950226,32,147,147,0,21227,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
9,ناحيه 1 گرگان,11100009,941125,941229,34,147,147,0,20753,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
10,ناحيه 1 گرگان,11100009,941229,950125,25,147,147,0,16583,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
11,ناحيه 1 گرگان,11100009,950326,950426,31,147,147,0,20563,NaN,NaN,NaN,NaN,11145301,1,مسكوني,0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229148,ناحيه 2 گرگان,61697628,991004,991114,40,428,524,96,0,NaN,NaN,NaN,NaN,46171351,16,مسكوني,0,0.75
229149,ناحيه 2 گرگان,61697793,991004,991114,40,120,183,63,-1,NaN,NaN,NaN,NaN,46171368,16,مسكوني,0,0.75
229150,ناحيه 4 گرگان,61697885,991003,991115,42,268,335,67,448950,NaN,NaN,NaN,NaN,62011302,5,مسكوني,0,0.75
229151,ناحيه 7 گرگان,61697997,991014,991125,41,217,327,110,1158692,NaN,NaN,NaN,NaN,26283900,8,مسكوني,0,0.75
229152,ناحيه 2 گرگان,61698339,991004,991114,40,0,0,0,424533,NaN,NaN,NaN,NaN,46171369,16,مسكوني,0,0.75

### این کار برای زمانی است که بخواهیم در داده های جدید جنریت شده مقدار nan در جدول ما وجود نداشته باشد

In [7]:
# df['obstcle'].fillna('نامشخص', inplace=True)

### --------------------------------------------------------------------------

In [8]:
district = list(set(df.district))
district

['ناحيه 1 گرگان',
 'ناحيه 7 گرگان',
 'ناحيه روستايي گرگان',
 ' قرارداد  3210 کد 101شرکت فاينانس پو يا فن هيرکان گر گان ',
 'ناحيه 3 گرگان',
 ' قرارداد 1915 کد 102شرکت فاينانس پو يا فن هيرکان گر گان ',
 'ناحيه 2 گرگان',
 'ناحيه 8 گرگان',
 'ناحيه 50 مراکز اداري دولتي ',
 'ناحيه 6 گرگان',
 'ناحيه 5 گرگان',
 ' قرارداد  3209 کد 10شرکت فاينانس پو يا فن هيرکان گر گان ',
 'ناحيه 9 گرگان',
 'ناحيه 4 گرگان',
 ' قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپاهان  ',
 'املاک استيجاري اموزشي  ']

In [9]:
doc = list(set(df.doc))
print('type of doc : ', type(doc))
print('len: ', len(doc))
doc[0:20]

type of doc :  <class 'list'>
len:  7820

[11239431,
 41123854,
 11468821,
 11173910,
 11599895,
 11272217,
 11272225,
 11436066,
 11501607,
 11599917,
 11665461,
 11206711,
 11468855,
 11468863,
 11436112,
 11534416,
 11698262,
 11534424,
 11370600,
 41189481]

In [10]:
pre_date = list(set(df.pre_date))
print('type of doc : ', type(doc))
print('len: ', len(doc))
doc[0:20]

type of doc :  <class 'list'>
len:  7820

[11239431,
 41123854,
 11468821,
 11173910,
 11599895,
 11272217,
 11272225,
 11436066,
 11501607,
 11599917,
 11665461,
 11206711,
 11468855,
 11468863,
 11436112,
 11534416,
 11698262,
 11534424,
 11370600,
 41189481]

In [11]:
cur_date = list(set(df.cur_date))
print('type of doc : ', type(cur_date))
print('len: ', len(cur_date))
cur_date[0:20]

type of doc :  <class 'list'>
len:  1261

[950301,
 950302,
 950303,
 950306,
 950307,
 950308,
 950309,
 950310,
 950311,
 950312,
 950313,
 950314,
 950315,
 950316,
 950317,
 950318,
 950319,
 950320,
 950326,
 950327]

In [12]:
days = list(set(df.days))
print('type of doc : ', type(days))
print('len: ', len(days))
days[0:20]

type of doc :  <class 'list'>
len:  353

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
pre_read = list(set(df.pre_read)) 
print('type of doc : ', type(pre_read))
print('len: ', len(pre_read))
pre_read[0:20]

type of doc :  <class 'list'>
len:  16023

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
cur_read = list(set(df.cur_read)) 
print('type of doc : ', type(cur_read))
print('len: ', len(cur_read))
cur_read[0:20]

type of doc :  <class 'list'>
len:  16110

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
consumption = list(set(df.consumption)) 
print('type of doc : ', type(consumption))
print('len: ', len(consumption))
consumption[0:20]

type of doc :  <class 'list'>
len:  758

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
bill = list(set(df.bill)) 
print('type of doc : ', type(bill))
print('len: ', len(bill))
bill[0:20]

type of doc :  <class 'list'>
len:  143204

[0,
 1,
 1572866,
 1048586,
 524301,
 786445,
 262165,
 1048600,
 262169,
 786458,
 262172,
 524318,
 786463,
 1048609,
 1835044,
 524326,
 524327,
 786471,
 1310761,
 262184]

In [17]:
obstcle = list(set(df.obstcle)) 
print('type of doc : ', type(obstcle))
print('len: ', len(obstcle))
obstcle[0:20]

type of doc :  <class 'list'>
len:  3

[nan, 'از کار افتاده', 'قرائت نشده']

In [18]:
meter = list(set(df.meter)) 
print('type of doc : ', type(meter))
print('len: ', len(meter))
meter[0:20]

type of doc :  <class 'list'>
len:  1727

['1395/11/17',
 '1395/05/25',
 '1393/05/29',
 '1396/01/08',
 '1396/09/08',
 '1397/08/22',
 '1393/12/17',
 '1397/02/16',
 '1394/06/02',
 '1397/04/28',
 '1396/12/17',
 '1396/01/03',
 '1391/10/25',
 '1390/10/25',
 '1396/07/20',
 '1397/10/11',
 '1396/04/22',
 '1396/07/19',
 '1394/06/01',
 '1396/08/08']

In [19]:
Y = list(set(df.Y)) 
print('type of doc : ', type(Y))
print('len: ', len(Y))
Y[0:20]

type of doc :  <class 'list'>
len:  17184

[nan,
 nan,
 nan,
 nan,
 nan,
 4079519.15463,
 nan,
 4079519.24196,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 4080822.01771]

In [20]:
X = list(set(df.X)) 
print('type of doc : ', type(X))
print('len: ', len(X))
X[0:20]

type of doc :  <class 'list'>
len:  17206

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 273546.676798,
 nan,
 nan,
 nan,
 nan,
 31.87021,
 nan,
 nan,
 nan,
 36.847398600000005]

In [21]:
ID = list(set(df.ID)) 
print('type of doc : ', type(ID))
print('len: ', len(ID))
ID[0:20]

type of doc :  <class 'list'>
len:  7820

[41680900,
 21102601,
 25002000,
 14352400,
 23363600,
 12222500,
 41713701,
 42532900,
 16941100,
 25034800,
 16842800,
 16744500,
 21561400,
 16646200,
 26476600,
 23101500,
 41943100,
 45121600,
 26280001,
 14712900]

In [22]:
flats = list(set(df.flats )) 
print('type of doc : ', type(flats ))
print('len: ', len(flats ))
flats[0:20]

type of doc :  <class 'list'>
len:  24

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21]

In [23]:
land_use = list(set(df.land_use ))
print('type of doc : ', type(land_use))
print('len: ', len(land_use ))
land_use [0:20]

type of doc :  <class 'list'>
len:  1

['مسكوني']

In [24]:
capacity = list(set(df.capacity )) 
print('type of doc : ', type(capacity ))
print('len: ', len(capacity ))
capacity [0:20]

type of doc :  <class 'list'>
len:  57

[0, 131, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23]

In [25]:
diameter  = list(set(df.diameter )) 
print('type of doc : ', type(diameter ))
print('len: ', len(diameter ))
diameter [0:20]

type of doc :  <class 'list'>
len:  1

[0.75]

### Genrating new data

In [26]:
district_gen = np.random.choice(district, size=10000)
print('type of district_gen : ', type(district_gen ))
print('len: ', len(district_gen ))
district_gen [0:20]

type of district_gen :  <class 'numpy.ndarray'>
len:  10000

array(['ناحيه 50 مراکز اداري دولتي ', 'ناحيه 8 گرگان', 'ناحيه 5 گرگان',
       'ناحيه 4 گرگان', 'ناحيه 6 گرگان',
       ' قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپاهان  ',
       ' قرارداد  3210 کد 101شرکت فاينانس پو يا فن هيرکان گر گان ',
       'ناحيه 4 گرگان',
       ' قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپاهان  ',
       'ناحيه 50 مراکز اداري دولتي ', 'ناحيه روستايي گرگان',
       ' قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپاهان  ',
       'ناحيه 50 مراکز اداري دولتي ', 'ناحيه 9 گرگان',
       'املاک استيجاري اموزشي  ', 'ناحيه روستايي گرگان',
       ' قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپاهان  ',
       'املاک استيجاري اموزشي  ', 'ناحيه 9 گرگان', 'ناحيه 4 گرگان'],
      dtype='<U57')

In [27]:
doc_gen = np.random.choice(doc, size=10000)
print('type of doc_gen : ', type(doc_gen))
print('len: ', len(doc_gen))
doc_gen[0:20]

type of doc_gen :  <class 'numpy.ndarray'>
len:  10000

array([11292510, 11705225, 11147901, 11157787, 41119865, 11308718,
       11113402, 11328638, 11631137, 11487574, 11533363, 41140023,
       41016594, 11471848, 41112798, 11562282, 11249754, 11256041,
       41143090, 11608371])

In [28]:
pre_date_gen = np.random.choice(pre_date, size=10000)
print('type of pre_date_gen : ', type(pre_date_gen))
print('len: ', len(pre_date_gen))
pre_date_gen[0:20]

type of pre_date_gen :  <class 'numpy.ndarray'>
len:  10000

array([960418, 980921, 950426, 941010, 981125, 950618, 990307, 960820,
       981121, 980117, 981025, 960224, 980710, 980630, 960317, 981003,
       950531, 941112, 990208, 941112])

In [29]:
cur_date_gen = np.random.choice(cur_date, size=10000)
print('type of cur_date_gen : ', type(cur_date_gen))
print('len: ', len(cur_date_gen))
cur_date_gen[0:20]

type of cur_date_gen :  <class 'numpy.ndarray'>
len:  10000

array([970825, 961014, 980207, 990214, 960226, 980908, 980205, 980925,
       960903, 980526, 960230, 951026, 990611, 971006, 970430, 991002,
       970123, 950920, 950823, 990417])

In [30]:
days_gen = np.random.choice(days, size=10000)
print('type of days_gen : ', type(days_gen))
print('len: ', len(days_gen))
days_gen[0:20]

type of days_gen :  <class 'numpy.ndarray'>
len:  10000

array([ 47,  97, 173, 152,  82,  20, 436, 233,  57,  84, 230, 125, 189,
       171, 153,  60,  36,  86, 700, 314])

In [31]:
pre_read_gen = np.random.choice(pre_read, size=10000)
print('type of pre_read_gen : ', type(pre_read_gen))
print('len: ', len(pre_read_gen))
pre_read_gen[0:20]

type of pre_read_gen :  <class 'numpy.ndarray'>
len:  10000

array([ 1564, 10395, 13502,  7385, 12472,  6135, 12183,  3886,  9652,
       15924,  8556,  5779,  7248, 15981, 18701,  6884,  4822,  2633,
       10141,  9932])

In [32]:
cur_read_gen = np.random.choice(cur_read, size=10000)
print('type of cur_read_gen : ', type(cur_read_gen))
print('len: ', len(cur_read_gen))
cur_read_gen[0:20]

type of cur_read_gen :  <class 'numpy.ndarray'>
len:  10000

array([16155, 12159, 13985,  3188, 12692, 19288, 12067,   757,  5353,
       15388, 17773,  8912,  5143, 15577,  1081, 14468, 20393,  9368,
        4147, 12927])

In [33]:
consumption_gen = np.random.choice(consumption, size=10000)
print('type of consumption_gen : ', type(consumption_gen))
print('len: ', len(consumption_gen))
consumption_gen[0:20]

type of consumption_gen :  <class 'numpy.ndarray'>
len:  10000

array([ 412,  371,  410,  433,  486,  104,  607,  122,  432,  195,  624,
        650, 2771,  352,  499,   44,  564,   72,  526,  612])

In [34]:
bill_gen = np.random.choice(bill, size=10000)
print('type of bill_gen : ', type(bill_gen))
print('len: ', len(bill_gen))
bill_gen[0:20]

type of bill_gen :  <class 'numpy.ndarray'>
len:  10000

array([ 633996,  568685,  108353, 1219749,  136407, 1612706, 1056691,
       1261071,  166535,  984975, 1466075, 1494762,  505102,  511523,
        972026,  959892,  837810,   57494, 1862101, 1143926])

In [35]:
obstcle_gen = np.random.choice(obstcle, size=10000)
print('type of obstcle_gen : ', type(obstcle_gen))
print('len: ', len(obstcle_gen))
obstcle_gen[0:20]

type of obstcle_gen :  <class 'numpy.ndarray'>
len:  10000

array(['nan', 'قرائت نشده', 'از کار افتاده', 'قرائت نشده', 'قرائت نشده',
       'nan', 'قرائت نشده', 'از کار افتاده', 'nan', 'قرائت نشده', 'nan',
       'nan', 'nan', 'از کار افتاده', 'nan', 'nan', 'nan', 'nan',
       'از کار افتاده', 'از کار افتاده'], dtype='<U32')

In [36]:
meter_gen = np.random.choice(meter, size=10000)
print('type of meter_gen : ', type(meter_gen))
print('len: ', len(meter_gen))
meter_gen[0:20]

type of meter_gen :  <class 'numpy.ndarray'>
len:  10000

array(['1396/02/19', '1395/06/20', '1390/12/24', '1391/02/12',
       '1397/11/25', '1397/07/07', '1395/09/15', '1390/02/24',
       '1395/07/05', '1396/12/23', '1390/03/08', '1391/08/30',
       '1397/08/02', '1398/05/14', '1398/10/25', '1393/02/15',
       '1392/10/22', '1391/12/26', '1391/06/04', '1394/06/01'],
      dtype='<U32')

In [37]:
Y_gen = np.random.choice(Y, size=10000)
print('type of Y_gen : ', type(Y_gen))
print('len: ', len(Y_gen))
Y_gen[0:20]

type of Y_gen :  <class 'numpy.ndarray'>
len:  10000

array([4079694.14149,           nan,           nan,           nan,
                 nan, 4078122.92627, 4080191.10516,           nan,
       4077075.19728, 4079303.72384,           nan, 4080219.678  ,
                 nan,           nan,           nan, 4080411.83375,
                 nan,           nan, 4076067.73362,           nan])

In [38]:
X_gen = np.random.choice(X, size=10000)
print('type of X_gen : ', type(X_gen))
print('len: ', len(X_gen))
X_gen[0:20]

type of X_gen :  <class 'numpy.ndarray'>
len:  10000

array([270177.868594,           nan, 272725.693345,           nan,
       271984.104536,           nan,           nan,           nan,
       270680.308017,           nan,           nan, 272291.819571,
                 nan, 273044.646606,           nan,           nan,
       272352.230888,           nan,           nan,           nan])

In [39]:
ID_gen = np.random.choice(ID, size=10000)
print('type of ID_gen : ', type(ID_gen))
print('len: ', len(ID_gen))
ID_gen[0:20]

type of ID_gen :  <class 'numpy.ndarray'>
len:  10000

array([46620700, 43055800, 36070600, 42761200, 12030900, 24030500,
       42240900, 42550800, 22450500, 26248300, 21635400, 27072500,
       22250900, 51730250, 63012100, 16811125, 24051000, 17787500,
       41561201, 16570500])

In [40]:
flats_gen = np.random.choice(flats, size=10000)
print('type of flats_gen : ', type(flats_gen))
print('len: ', len(flats_gen))
flats_gen[0:20]

type of flats_gen :  <class 'numpy.ndarray'>
len:  10000

array([42, 17, 13,  9, 42, 16, 11,  3, 20,  5, 23, 12,  5, 16, 23,  6, 24,
        1, 16, 10])

In [41]:
land_use_gen = np.random.choice(land_use, size=10000)
print('type of land_use_gen : ', type(land_use_gen))
print('len: ', len(land_use_gen))
land_use_gen[0:20]

type of land_use_gen :  <class 'numpy.ndarray'>
len:  10000

array(['مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني',
       'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني',
       'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني', 'مسكوني',
       'مسكوني', 'مسكوني'], dtype='<U6')

In [42]:
capacity_gen = np.random.choice(capacity, size=10000)
print('type of capacity_gen : ', type(capacity_gen))
print('len: ', len(capacity_gen))
capacity_gen[0:20]

type of capacity_gen :  <class 'numpy.ndarray'>
len:  10000

array([100,  70,  66,  60,  17,   6,  30,  37,  13,  35,  35, 114,  10,
        10,  14,  36,  28,  52,  14,   8])

In [43]:
diameter_gen = np.random.choice(diameter, size=10000)
print('type of diameter_gen : ', type(diameter_gen))
print('len: ', len(diameter_gen))
diameter_gen[0:20]

type of diameter_gen :  <class 'numpy.ndarray'>
len:  10000

array([0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75,
       0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75])

In [51]:
df_new_with_nan = pd.DataFrame({
   'district': district_gen,
    'doc' : doc_gen,
    'pre_date' : pre_date_gen,
    'cur_date' : cur_date_gen,
    'days' : days_gen,
    'pre_read' : pre_read_gen,
    'cur_read' : cur_read_gen,
    'consumption' : consumption_gen,
    'bill' : bill_gen,
    'obstcle' : obstcle_gen,
    'meter' : meter_gen,
    'Y' : Y_gen,
    'X' : X_gen,
    'ID' : ID_gen,
    'flats' : flats_gen,
    'land_use' : land_use_gen,
    'capacity' : capacity_gen,
    'diameter' :diameter_gen
    })
df_new_with_nan.head()

,district,doc,pre_date,cur_date,days,pre_read,cur_read,consumption,bill,obstcle,meter,Y,X,ID,flats,land_use,capacity,diameter
0,ناحيه 50 مراکز اداري دولتي,11292510,960418,970825,47,1564,16155,412,633996,nan,1396/02/19,4.079694e+06,270177.868594,46620700,42,مسكوني,100,0.75
1,ناحيه 8 گرگان,11705225,980921,961014,97,10395,12159,371,568685,قرائت نشده,1395/06/20,NaN,NaN,43055800,17,مسكوني,70,0.75
2,ناحيه 5 گرگان,11147901,950426,980207,173,13502,13985,410,108353,از کار افتاده,1390/12/24,NaN,272725.693345,36070600,13,مسكوني,66,0.75
3,ناحيه 4 گرگان,11157787,941010,990214,152,7385,3188,433,1219749,قرائت نشده,1391/02/12,NaN,NaN,42761200,9,مسكوني,60,0.75
4,ناحيه 6 گرگان,41119865,981125,960226,82,12472,12692,486,136407,قرائت نشده,1397/11/25,NaN,271984.104536,12030900,42,مسكوني,17,0.75

In [52]:
df_new_with_nan.shape

(10000, 18)

In [50]:
na_features = [features for features in df_new_with_nan.columns if df_new_with_nan[features].isnull().sum()>1]
for feature in na_features:
    print(feature,'\t\t', np.round(df_new_with_nan[feature].isnull().mean(),3), '%')

Y 		 0.575 %
X 		 0.572 %

In [47]:
x_nan_df_new_with_nan = df_new_with_nan[df_new_with_nan['Y'].isna()]
x_nan_df_new_with_nan

,district,doc,pre_date,cur_date,days,pre_read,cur_read,consumption,bill,obstcle,meter,Y,X,ID,flats,land_use,capacity,diameter
1,ناحيه 8 گرگان,11705225,980921,961014,97,10395,12159,371,568685,قرائت نشده,1395/06/20,NaN,NaN,43055800,17,مسكوني,70,0.75
2,ناحيه 5 گرگان,11147901,950426,980207,173,13502,13985,410,108353,از کار افتاده,1390/12/24,NaN,272725.693345,36070600,13,مسكوني,66,0.75
3,ناحيه 4 گرگان,11157787,941010,990214,152,7385,3188,433,1219749,قرائت نشده,1391/02/12,NaN,NaN,42761200,9,مسكوني,60,0.75
4,ناحيه 6 گرگان,41119865,981125,960226,82,12472,12692,486,136407,قرائت نشده,1397/11/25,NaN,271984.104536,12030900,42,مسكوني,17,0.75
7,ناحيه 4 گرگان,11328638,960820,980925,233,3886,757,122,1261071,از کار افتاده,1390/02/24,NaN,NaN,42550800,3,مسكوني,37,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,قرارداد 1915 کد 102شرکت فاينانس پو يا فن هيرک...,11315935,980510,990829,180,19689,2201,69,368729,از کار افتاده,1399/12/10,NaN,267614.567461,65231200,4,مسكوني,104,0.75
9994,ناحيه 6 گرگان,11293800,951016,960513,213,1059,3509,35,348058,nan,1396/01/15,NaN,NaN,65176315,8,مسكوني,131,0.75
9995,ناحيه 5 گرگان,11550110,940828,971128,150,189,16256,158,1305197,nan,1397/05/31,NaN,272769.696846,42020400,3,مسكوني,28,0.75
9998,ناحيه 7 گرگان,11444425,950630,960225,69,2515,10194,484,375932,قرائت نشده,1394/07/22,NaN,270826.247002,21413100,3,مسكوني,18,0.75
9999,قرارداد 16135 کد 221شرکت فاينانس پيام سازه سپ...,11375628,970206,980413,323,12845,344,723,144327,از کار افتاده,1389/12/08,NaN,NaN,46621600,5,مسكوني,30,0.75

In [53]:
df_new_with_nan.to_csv('./df_new_with_nan.csv', index=False)
# df.to_excel('./df_generated_with_nan_with_out_outline.xlsx', index=False)

In [49]:
import pandas as pd
import numpy as np

# داده‌های اولیه شما
data = {
    'district': ['district1', 'district2', 'district3'],
    'doc': [1, 2, 3],
    'pre_date': [20210101, 20210201, 20210301],
    # سایر ستون‌ها ...
    'diameter': [0.5, 0.7, 0.8]
}

# تبدیل داده‌های اولیه به دیتافریم
df = pd.DataFrame(data)

# تعداد داده‌های پرت مورد نظر
num_outliers = 500

# تولید داده‌های تصادفی برای داده‌های پرت
outliers = np.random.random(size=num_outliers)

# اضافه کردن داده‌های پرت به دیتافریم
df['outliers'] = np.concatenate([df['diameter'].sample(num_outliers).values + outliers,
                                 df['diameter'].sample(num_outliers).values - outliers])

# نمایش نمونه از دیتافریم با داده‌های پرت
print(df.head())

ValueError: Cannot take a larger sample than population when 'replace=False'